﻿@model ViewForModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/PrincipalPage/dashadm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    @RenderSection("ImportsHead", required: false)


    <!-- Custom fonts for this template-->
    <link href="~/Templates/PrincipalPage/dashadm/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://www.atec.pt/templates/atc16/favicon.ico" />
    <!-- Custom styles for this template-->
    <link href="~/Templates/PrincipalPage/dashadm/css/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body id="page-top">


    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="IndexMainPage">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-tasks"></i>
                </div>
                <div class="sidebar-brand-text mx-3">
                    Atec <sup>2.0</sup>
                    <br />
                </div>
            </a>
            <div id="BemvindosParte">
                <hr class="sidebar-divider my-0">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="IndexMainPage">
                    <div class="sidebar-brand-text mx-3">
                        Bem-vindo
                        @if (Model?.Formador.Username == "admin")
                        {
                            <strong style="color:chartreuse">Administrador</strong>
                        }
                        else if (Model?.Formador?.IsAdmin ?? false)
                        {
                            <strong style="color:chartreuse">Coordenador</strong>
                        }
                        else
                        {
                            <strong style="color:chartreuse">Formador</strong>
                        }

                        <br />

                    </div>

                </a>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
            </div>
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="IndexMainPage">
                    <i class="fas fa-home"></i>
                    <span>Página principal</span>
                </a>
            </li>

            @if (Model?.Formador?.IsAdmin ?? false)
            {
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Interface

                </div>

                <!-- Nav Item - Pages Collapse Menu -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-plus-circle"></i>
                        <span>Criação</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Opções:</h6>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="CriarTurma">Criar Turma</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="CriarFormador">Criar Formador</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="CriarCurso">Criar Curso</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="CriarModulo">Criar Modulo</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="CriarCategoria">Criar Categoria</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-tasks"></i>
                        <span>Gestão</span>
                    </a>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Opções:</h6>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="GerirFormadores">Gerir Utilizadores</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="GerirModulos">Gerir Modulos</a>
                            <a class="collapse-item" asp-controller="Horario" asp-action="PlanoFuncView">Plano de Funcionamento</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="far fa-address-card"></i>
                        <span>Info</span>
                    </a>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Notificações:</h6>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="Horarios">Enviar Horário(s)</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="TurmaAssociada">Ver Histórico</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="MainPage" asp-action="GerarHorarios">
                        <i class="fas fa-cog"></i>
                        <span>Gerar Horário(s)</span>
                    </a>
                </li>
            }
            else if (Model?.Formador?.IsAdmin == false)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <i class="far fa-address-card"></i>
                        <span>Info</span>
                    </a>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Notificações:</h6>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="Horarios">Horários</a>
                            <a class="collapse-item" asp-controller="MainPage" asp-action="TurmaAssociada">Histórico</a>
                        </div>
                    </div>
                </li>

            }
            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle" onclick="mudaSideBar(this)"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        @{ 
                            var notificacoes = Model.ListaDeNotificacao.Where(x => x.IdFormador == Model.Formador.Id && x.Visualizacao == true);
                        }
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                @if (notificacoes.Count() < 6)
                                {
                                    @:<span class="badge badge-danger badge-counter">@notificacoes.Count()</span>
                                }    
                                else 
                                {
                                    @:<span class="badge badge-danger badge-counter">5+</span>
                                }
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Horários
                                </h6>
                                @if (!(notificacoes).Any())
                                {
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="fas fa-file-alt text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">22 de dezembro de 2019</div>
                                            <span class="font-weight-bold">Você receberá notificações caso exista!</span>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    @foreach (var item in notificacoes.OrderByDescending(x => x.HoraCriada).Take(5))
                                    {
                                        <div id="_@item.Id">
                                            <a class="dropdown-item d-flex align-items-center" href="#" id="@item.Id" onclick="BaixaExcel(@item.Id,`@item.PathExcel`)">
                                                <div class="mr-3">
                                                    <div class="icon-circle bg-primary" style="background-color:red !important;">
                                                        <i class="fa fa-exclamation" style="color:white;"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="small text-gray-500">@String.Format(new System.Globalization.CultureInfo("pt-PT"), "{0:f}", item.HoraCriada)   </div>
                                                    <span class="font-weight-bold">Insira a sua disponibilidade na turma: "@item.Turma"</span>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }
                                <a class="dropdown-item text-center small text-gray-500" asp-action="TurmaAssociada">Mostrar todos os Horários</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">1</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Bem-vindo. Poderás ter acesso a futuras funcionalidades mais adiante...</div>
                                        <div class="small text-gray-500">Hélder · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @Model?.Formador?.Nome
                                </span>
                                <img class="img-profile rounded-circle" src="~/Templates/PrincipalPage/dashadm/img/usericon.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                @RenderBody()
            </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" asp-action="Logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

 

        let contador = 0;
        function mudaSideBar(othis) {
            contador++;
            if(contador % 2 == 1)
                $("#BemvindosParte").hide();
            else
                $("#BemvindosParte").show();

            
        }
        $(function () {
            window.addEventListener('resize', function (e) {
                if ($(window).width() < 768)
                    $("#BemvindosParte").hide();
                else
                    $("#BemvindosParte").show();
            }, true);
        });

        let objBaixaExcel = {
            IdNotificacao: 0,
            LinkDownload: ""
        };

        function BaixaExcel(othis, PathExcel) {
            $(`#_${othis}`).hide();
            objBaixaExcel.IdNotificacao = othis;
            objBaixaExcel.LinkDownload = PathExcel;
            $.ajax({
                url: "/ValidaNotificacoes",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify(objBaixaExcel),
                method: "POST",
                dataType: "json",
                success: function (data) {
                    window.open(`http://localhost:65345/DownloadExcel?path=${data}&idNotificacao=${objBaixaExcel.IdNotificacao}`,"_blank");
                }
            });
        }
    </script>


    <!-- Core plugin JavaScript-->
    <script src="~/Templates/PrincipalPage/dashadm/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Templates/PrincipalPage/dashadm/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Templates/PrincipalPage/dashadm/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    @*<script src="~/Templates/PrincipalPage/dashadm/js/demo/chart-area-demo.js"></script>
    <script src="~/Templates/PrincipalPage/dashadm/js/demo/chart-pie-demo.js"></script>*@

</body>
</html>
