﻿
@{
    ViewData["Title"] = "PlanoFuncView";
}
@section ImportsHead
    {
    <style type="text/css" media="screen">
        table {
            border: 1px solid black;
        }
        table td {
            text-align: center;
            color:black;
            padding:20px;
            vertical-align: middle;
            background-color: rgb(255, 255, 255);
        }

        table th{
            padding:20px;
            border: 1px solid black;
        }

        table td.red {
            background-color: rgb(219, 25, 25);
        }

        table td.green {
            background-color: rgb(89, 143, 87);
            }

        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: .4rem 0;
        }
    </style>

}


<div class="container-fluid">

    <div class="container">
        

            <label for="date-input">Selecionar data:</label>
            <input type="date" id="date-input" name="trip-start"  >
            <button id="submit" class="btn btn-primary">Submit</button>



            <table id="tabledisp" class="steelBlueCols">
                <thead>
                    <tr>
                        <th></th>
                        <th id="data1">01-01-2019</th>
                        <th id="data2">02-01-2019</th>
                        <th id="data3">03-01-2019</th>
                        <th id="data4">04-01-2019</th>
                        <th id="data5">05-01-2019</th>
                        <th id="data6">06-01-2019</th>
                        <th id="data7">07-01-2019</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Segunda</th>
                        <th>Terça</th>
                        <th>Quarta</th>
                        <th>Quinta</th>
                        <th>Sexta</th>
                        <th>Sabado</th>
                        <th>Domingo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>08:30</th>
                        <td id="seg1">seg1</td>
                        <td id="ter1">ter1</td>
                        <td id="qua1">qua1</td>
                        <td id="qui1">qui1</td>
                        <td id="sex1">sex1</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>09:30</th>
                        <td id="seg2">seg2</td>
                        <td id="ter2">ter2</td>
                        <td id="qua2">qua2</td>
                        <td id="qui2">qui2</td>
                        <td id="sex2">sex2</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>10:30</th>
                        <td id="seg3">seg3</td>
                        <td id="ter3">ter3</td>
                        <td id="qua3">qua3</td>
                        <td id="qui3">qui3</td>
                        <td id="sex3">sex3</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>11:40</th>
                        <td id="seg4">seg4</td>
                        <td id="ter4">ter4</td>
                        <td id="qua4">qua4</td>
                        <td id="qui4">qui4</td>
                        <td id="sex4">sex4</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>13:30</th>
                        <td id="seg5">seg5</td>
                        <td id="ter5">ter5</td>
                        <td id="qua5">qua5</td>
                        <td id="qui5">qui5</td>
                        <td id="sex5">sex5</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>14:30</th>
                        <td id="seg6">seg6</td>
                        <td id="ter6">ter6</td>
                        <td id="qua6">qua6</td>
                        <td id="qui6">qui6</td>
                        <td id="sex6">sex6</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>15:40</th>
                        <td id="seg7">seg7</td>
                        <td id="ter7">ter7</td>
                        <td id="qua7">qua7</td>
                        <td id="qui7">qui8</td>
                        <td id="sex7">sex8</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>16:50</th>
                        <td id="seg8">seg8</td>
                        <td id="ter8">ter8</td>
                        <td id="qua8">qua8</td>
                        <td id="qui8">qui8</td>
                        <td id="sex8">sex8</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>17:50</th>
                        <td id="seg9">seg9</td>
                        <td id="ter9">ter9</td>
                        <td id="qua9">qua9</td>
                        <td id="qui9">qui9</td>
                        <td id="sex9">sex9</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:15</th>
                        <td id="seg10">seg10</td>
                        <td id="ter10">ter10</td>
                        <td id="qua10">qua10</td>
                        <td id="qui10">qui10</td>
                        <td id="sex10">sex10</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:15</th>
                        <td id="seg11">seg11</td>
                        <td id="ter11">ter11</td>
                        <td id="qua11">qua11</td>
                        <td id="qui11">qui11</td>
                        <td id="sex11">sex11</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:25</th>
                        <td id="seg12">seg12</td>
                        <td id="ter12">ter12</td>
                        <td id="qua12">qua12</td>
                        <td id="qui12">qui12</td>
                        <td id="sex12">sex12</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:25</th>
                        <td id="seg13">seg13</td>
                        <td id="ter13">ter13</td>
                        <td id="qua13">qua13</td>
                        <td id="qui13">qui13</td>
                        <td id="sex13">sex13</td>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>23:25</th>
                        <td id="seg14">seg14</td>
                        <td id="ter14">ter14</td>
                        <td id="qua14">qua14</td>
                        <td id="qui14">qui14</td>
                        <td id="sex14">sex14</td>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>

            <div class="container">
                <div class="row" style="margin-right:20%;">
                    <div clas="col">
                        <a href="javascript:lerPorAjax()" class="btn btn-primary">Ler Por Ajax</a>
                    </div>
                    <div class="col" style="text-align: right">
                        <a href="javascript:atras()" class="btn btn-primary"><<<<</a>
                        <a href="javascript:gravar()" class="btn btn-primary">Gravar</a>
                        <a href="javascript:afrente()" class="btn btn-primary">>>>>>>></a>
                    </div>

                </div>
            </div>
        <input type="text" id="jtext" />

            <script>
        var active = false;

        let startcellclasse;

        $("td").mousedown(function(ev) {
            editou=1;
            console.log('hora ' + $(this).closest("tr").index()+'dia ' + $(this).closest("td").index());
            active = true;
            ev.preventDefault(); // this prevents text selection from happening
            let hora = $(this).closest("tr").index();
            let dia = $(this).closest("td").index()-1;
            startcellclasse=$(this).attr("class");
            console.log(startcellclasse);
            if (startcellclasse!="red"){
                $(this).attr("class", "red");
                dispDias[dia]="False";
                console.log('Nova disponibilidade',dispDias[dia]);
            }
            else
            {
                $(this).attr("class", "green");
                dispDias[dia]="True";
                console.log('Nova disponibilidade',dispDias[dia]);
            }
        });

        $("td").mousemove(function(ev) {
            if (active) {
                let overcellclasse=$(this).attr("class");
                if (startcellclasse==overcellclasse){
                    let hora = $(this).closest("tr").index();
                    let dia = $(this).closest("td").index()-1;
                    if (overcellclasse!="red"){
                        $(this).attr("class", "red");
                        dispDias[dia]="False";
                        console.log('Nova disponibilidade',dispDias[dia]);
                    }
                    else
                    {
                        $(this).attr("class", "green");
                        dispDias[dia]="True";
                        console.log('Nova disponibilidade',dispDias[dia]);
                    }
                }
            }
        });

        $(document).mouseup(function(ev) {
            active = false;
        });

            let dataenvio;
            let datas = [];
            let seg = [];
            let ter = [];
            let qua = [];
            let qui = [];
            let sex = [];
            let indexDia = [];
            let dispDias = [];
            let editou = 0;
            let leuPorAjax=0;


                $(document).ready(function () {
                    var tabledisp = document.getElementById('tabledisp');
                    var array1 = ['a', 'b', 'c'];
                    //preencher tablea

                    for(let col=0;col<5;col++)
                    {
                        let cell = tabledisp.rows[2].cells[col+1];
                        let id=cell.attributes[0].value;
                        $("#"+id).attr("class", "green");

                    }
                    let date = new Date();
                    let day = date.getDate();
                    let month = date.getMonth() + 1;
                    let year = date.getFullYear();
                    //alert([day, month, year].join('/'));
                    dataenvio=[day, month, year].join('/');
                    //console.log(dataenvio);
                    document.getElementById('date-input').valueAsDate = new Date();
                });

                (function() {
                    $('#submit').on('click', function(){
                    var date = new Date($('#date-input').val());
                    let day = date.getDate();
                    let month = date.getMonth() + 1;
                    let year = date.getFullYear();
                    let dataenvio=[day, month, year].join('/');
                    lerPorAjax(dataenvio, true);
                    });
                })();

                function atras() {
                    let direcao=false;
                    if (editou)
                    {
                        enviarDatas();
                    }
                    if (leuPorAjax){
                        lerPorAjax(datas[0],direcao);
                    }
                }

                function gravar() {
                    if (editou)
                    {
                        enviarDatas();
                        //jtextf();
                    }
                }

                function afrente() {
                    let direcao=true;
                    if (editou)
                    {
                        enviarDatas();
                    }
                    if (leuPorAjax){
                        //lerPorAjax(datas[7],direcao);
                        console.log(dataenvio);
                        console.log(JSON.stringify({dataenvio,direcao}));
                    }
                }

                function imprimirPedido() {
                    datas.forEach((element,index) => {
                        console.log(element);
                    });
                    dispDias.forEach((element,index) => {
                        console.log(element);
                    });
                    //for (let i = 0; i < 7; i++) {
                    //    console.log(dispDias[i]);
                    //}
                }




                function jtextf() {
                    imprimirPedido();

                    let dict = new Object();
                    let envio = [];
                    datas.forEach((element, index) => {
                        dict[element] = dispDias[index];
                        envio[index] = dict[index];
                    });
                    var dtatsToJson = JSON.stringify({ dict });
                    //$("#jtext").attr("class", "merda");
                    let jtext = Document.getElementById("jtext");
                    jtext.text = "merda";

                }




                function enviarDatas() {
                    imprimirPedido();

                    let dict = new Object();
                    //let envio = [];
                    datas.forEach((element, index) => {
                        console.log(element);
                        dict[element] = dispDias[index];
                        //envio[index] = dict[index];
                    });
                    dict["last"] = datas[0];
                    var dtatsToJson1 = JSON.stringify({ dict });
                    var dtatsToJson2 = dtatsToJson1.toString().replace("\\\\", "");
                    let data = dtatsToJson2;

                    $.ajax({
                        url: "http://localhost:65345/gravarDisp",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        type: "POST",
                        traditional: true,
                        data: JSON.stringify( data ),

                        success: function (response) {
                            console.log(response)
                        }
                    });
                }


                function lerPorAjax(data, direcao) {
                    console.log(data,direcao);
                    leuPorAjax=1;
                    $.ajax({
                        url: "http://localhost:65345/lerdatasfunc",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        type: "POST",
                        data: JSON.stringify({data,direcao}),
                        success: function (response) {
                            if (response) {
                                console.log(JSON.stringify(response));
                                datas = response["datas"];
                                dispDias = response["disp"];
                                preencherTabela();
                            }
                        }
                    });
                }

                function preencherTabela(){
                    dispDias.forEach((element,index) => {
                        //console.log(element,index);
                        //Alterar datas
                        let cellData = tabledisp.rows[0].cells[index+1];
                        let idData = cellData.attributes[0].value;
                        $("#" + idData).text(datas[index].toString());
                        console.log(idData,datas[index]);
                        //Colorir
                        if (index < 5) {
                            let cell = tabledisp.rows[2].cells[index+1];
                            let id=cell.attributes[0].value;
                            if (element == "False") {
                                $("#" + id).attr("class", "red");
                            }
                            else {
                                $("#"+id).attr("class", "green");
                            }
                        }
                    });


                    //function preencherTabela(){
                    //dispDias.forEach((element,index) => {
                    //    //console.log(element,index);

                    //    if (element=="False"){
                    //        if (index<5){
                    //            let cell = tabledisp.rows[2].cells[index+1];
                    //            let id=cell.attributes[0].value;
                    //            $("#"+id).attr("class", "red");
                    //        }
                    //    }
                    //    else
                    //    {
                    //        if (index<5){
                    //            let cell = tabledisp.rows[2].cells[index+1];
                    //            let id=cell.attributes[0].value;
                    //            $("#"+id).attr("class", "green");
                    //        }
                    //    }
                    //});



                }
            </script>



        
    </div>
</div>