﻿@model ViewForModel
@{
    ViewData["Title"] = "Criar Módulo";
}

@section ImportsHead{
    <script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="container">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Criação do módulo</h1>
        </div>

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Introduza as informações do módulo</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" id="nomeModulo" onkeyup="ChangingNome(this); " placeholder="Nome do módulo" required maxlength="60">
                        <div class="valid-feedback">
                            Nome disponível!
                        </div>
                        <div class="invalid-feedback">
                            Nome já existe!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Código</label>
                        <input class="form-control" id="nomeCodigo" onkeyup="ChangingCodigo(this); " placeholder="Código do módulo" required maxlength="60">
                        <div class="valid-feedback">
                            Código disponível!
                        </div>
                        <div class="invalid-feedback">
                            Código já existe!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Sigla</label>
                        <input class="form-control" id="nomeSigla" onkeyup="ChangingSigla(this); " placeholder="Sigla do módulo" required maxlength="60">
                        <div class="valid-feedback">
                            Sigla disponível!
                        </div>
                        <div class="invalid-feedback">
                            Sigla já existe!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Horas</label>
                        <select class="form-control" id="horasModulo" onchange="ChangingNmrHoras(this); ">
                            <option value="0">Escolha o número de horas do módulo</option>
                            <option value="25">25 Horas</option>
                            <option value="50">50 Horas</option>
                        </select>
                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descricaoModulo">Descrição</label>
                        <textarea class="form-control" id="descricaoModulo" onkeyup="ChangingDescricao(this);" rows="5"></textarea>
                    </div>

                </form>
                <hr />
                <button id="submeter" class="btn btn-primary" style="float:right">Submeter</button>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer bg-white  text-center"
        style="
        bottom: 0;
        position: fixed;
        width: 100%;
        ">
    <div class="container my-auto">
        <div class="copyright my-auto">
            <span style="margin-right:10%;">Copyright © Your Website 2019</span>
        </div>
    </div>
</footer>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script>
    let objModulo = {
        CodModulo: -1,
        Nome: "Nome Modulo",
        Sigla: "Sigla Modulo",
        NmrHoras: -1,
        Observacoes: "Obervacoes Modulo"
    };
    let boolChangedCodModulo;
    let boolChangedNome;
    let boolChangedSigla;
    let boolChangedNmrHoras;


    $(function () {
        $("#submeter").attr("disabled", true);
    });

    $("#submeter").click(function () {
        Swal.fire({
            title: 'Deseja criar um módulo?',
            text: `Nome: ${objModulo.Nome}, Sigla: ${objModulo.Sigla}`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim, Crie!',
            cancelButtonText: 'Não, Cancele!',
        }).then((result) => {
            if (result.value) {
                objModulo.Obervacoes = $("#descricaoModulo").val();
                $.ajax({
                    method: "POST",
                    url: "/InserirModulo",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(objModulo),
                    success: function (data) {
                        Swal.fire({
                            position: 'center',
                            type: 'success',
                            title: 'Curso criado!',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.reload()
                        }, 1600);
                        //console.log(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        });
    });

    function ChangingNome(othis) {
        if (othis.value.length >= 5) {
            objModulo.Nome = othis.value;
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeNomeModuloIgual",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objModulo),
                success: function (data) {
                    if (data) {
                        $("#nomeModulo").addClass("is-invalid");
                        $("#nomeModulo").removeClass("is-valid");
                        boolChangedNome = false;
                    }
                    else {
                        boolChangedNome = true;
                        $("#nomeModulo").addClass("is-valid");
                        $("#nomeModulo").removeClass("is-invalid");
                    }
                    ValidaTudo();
                    //console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
        else {
            $("#submeter").attr("disabled", true);
            $("#nomeModulo").removeClass("is-invalid");
            $("#nomeModulo").removeClass("is-valid");
        }
    }

    function ChangingCodigo(othis) {
        if (othis.value.length >= 2) {
            objModulo.CodModulo = parseInt(othis.value);
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeNomeCodigoModuloIgual",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objModulo),
                success: function (data) {
                    if (data) {
                        $("#nomeCodigo").addClass("is-invalid");
                        $("#nomeCodigo").removeClass("is-valid");
                        boolChangedCodModulo = false;
                    }
                    else {
                        boolChangedCodModulo = true;
                        $("#nomeCodigo").addClass("is-valid");
                        $("#nomeCodigo").removeClass("is-invalid");
                    }
                    ValidaTudo();
                    //console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
        else {
            $("#submeter").attr("disabled", true);
            $("#nomeCodigo").removeClass("is-invalid");
            $("#nomeCodigo").removeClass("is-valid");
        }
    }

    function ChangingSigla(othis) {
        if (othis.value.length >= 2) {
            objModulo.Sigla = othis.value;
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeSiglaModuloIgual",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objModulo),
                success: function (data) {
                    if (data) {
                        $("#nomeSigla").addClass("is-invalid");
                        $("#nomeSigla").removeClass("is-valid");
                        boolChangedSigla = false;
                    }
                    else {
                        boolChangedSigla = true;
                        $("#nomeSigla").addClass("is-valid");
                        $("#nomeSigla").removeClass("is-invalid");
                    }
                    ValidaTudo();
                    //console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
        else {
            $("#submeter").attr("disabled", true);
            $("#nomeSigla").removeClass("is-invalid");
            $("#nomeSigla").removeClass("is-valid");
        }
    }

    function ChangingNmrHoras(othis) {
        if (othis.value != 0) {
            boolChangedNmrHoras = true;
            objModulo.NmrHoras = parseInt(othis.value);
            $("#horasModulo").addClass("is-valid");
            $("#horasModulo").removeClass("is-invalid");
        }
        else {
            boolChangedNmrHoras = false;
            $("#horasModulo").removeClass("is-valid");
        }
        ValidaTudo();
    }

    function ChangingDescricao(othis) {
        objModulo.Observacoes = othis.value;

    }

    function ValidaTudo() {
        if (boolChangedCodModulo && boolChangedNome && boolChangedSigla && boolChangedNmrHoras) {
            $("#submeter").attr("disabled", false);
        }
        else
            $("#submeter").attr("disabled", true);

    }

</script>