﻿@model ViewForModel
@{
    ViewData["Title"] = "Criar Formador";
}

@section ImportsHead{
    <script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
}

<div class="container-fluid">
    <!-- Page Heading -->


    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Criação do formador</h1>
        </div>
        <!-- Approach -->
        <div class="card shadow mb-4" style="width:100%; height:100%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Introduza os dados</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="nomeFormador">Nome e Sobrenome</label>
                        <input class="form-control" onkeyup="ChangingName(this);" pattern=".{6,}" title="Deve ter no mínimo 6 Caracteres" placeholder="Digite o Nome e o Sobrenome do formador" id="nomeFormador" required maxlength="35">
                        <div class="valid-feedback">
                            O nome é válido!
                        </div>

                        <div class="invalid-feedback">
                            O nome é já existe
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="usernameFormador">Username</label>
                        <input class="form-control" onkeyup="ChangingUsername(this); " id="usernameFormador" pattern=".{6,}" title="Deve ter no mínimo 6 Caracteres" placeholder="Digite o username" required maxlength="20">

                        <div class="valid-feedback">
                            Username disponível!
                        </div>
                        <div class="invalid-feedback">
                            Username existente!!
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="emailFormador">Email</label>
                        <input class="form-control" onkeyup="ChangingEmail(this);" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" id="emailFormador" placeholder="Digite o email" title="Digite um email válido" required maxlength="25">

                        <div class="valid-feedback">
                            Email válido!
                        </div>
                        <div class="invalid-feedback" id="EmailInvalido">
                            Email inválido
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="senhaFormador">Senha</label>
                        <input type="password" class="form-control" id="passwordFormador" onkeyup="ChangingSenha(this);" pattern=".{8,}" title="Deve ter no mínimo 8 Caracteres" placeholder="Digite a senha" required maxlength="15">

                        <div class="valid-feedback">
                            Senha válida!
                        </div>
                        <div class="invalid-feedback">
                            Senhas não se correspondem!
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="confirmaSenhaFormador">Confirme a Senha</label>
                        <input type="password" onkeyup="ChangingConfirmaSenha(this);" class="form-control" id="confirmaSenhaFormador" pattern=".{8,}" title="Deve ter no mínimo 8 Caracteres" placeholder="Digite a senha novamente" required maxlength="15">

                        <div class="valid-feedback">
                            Senhas se correspondem!
                        </div>
                        <div class="invalid-feedback">
                            Senhas não correspondem!
                        </div>
                    </div>
                </form>
                <button type="submit" id="submeter" class="btn btn-primary" style="float:right">Submeter</button>

                @*<p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>*@
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<footer class="sticky-footer bg-white" style="
        bottom: 0;
        position: fixed;
        width: 100%;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span style="margin-right:10%;">Copyright © Your Website 2019</span>
        </div>
    </div>
</footer>
<script>

    let formador = {
        Id: 0,
        Nome: "",
        Username: "",
        Password: "",
        Email: "",
        IsAdmin: false,
    };

    let boolChangedName;
    let boolChangedUsername;
    let boolChangedEmail;
    let boolChangedPassword;
    let boolChangedConfirmaPassword;


    function ChangingName(othis) {
        console.log(othis);
        if ($("#nomeFormador").val().length >= 7 && /.{0,10} .+/g.test(othis.value)) {
            formador.Nome = othis.value;
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeNomeIgual",
                data: JSON.stringify(formador),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        $("#nomeFormador").removeClass("is-valid");
                        $("#nomeFormador").addClass("is-invalid");
                        boolChangedName = false;

                    }
                    else {
                        $("#nomeFormador").removeClass("is-invalid");
                        $("#nomeFormador").addClass("is-valid");
                        boolChangedName = true;
                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
            boolChangedName = true;
        }
        else {
            $("#nomeFormador").removeClass("is-valid");
            boolChangedName = false;
        }
        ValidaTodosOsCampos();
    }
    function ChangingUsername(othis) {
        formador.Username = othis.value;

        if (othis.value.length >= 7)
            $.ajax({
                method: "POST",
                url: "/RetornaUsernameTrueSeIgual",
                data: JSON.stringify(formador),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == true) {
                        $("#usernameFormador").addClass("is-invalid");
                        $("#usernameFormador").removeClass("is-valid");
                        boolChangedUsername = false;
                    }
                    else {
                        $("#usernameFormador").removeClass("is-invalid");
                        $("#usernameFormador").addClass("is-valid");
                        boolChangedUsername = true;
                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        else {
            boolChangedUsername = false;
            $("#usernameFormador").removeClass("is-invalid");
            $("#usernameFormador").removeClass("is-valid");
            ValidaTodosOsCampos();

        }
    }

    function ChangingEmail(othis) {

        formador.Email = othis.value;

        if (othis.value.length >= 8)
            $.ajax({
                method: "POST",
                url: "/RetornaEmailTrueSeIgual",
                data: JSON.stringify(formador),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    if (!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/g.test(othis.value)) {
                        $("#emailFormador").addClass("is-invalid");
                        $("#emailFormador").removeClass("is-valid");
                        $("#EmailInvalido").html("Email Inválido");
                        boolChangedEmail = false;

                    }
                    else if (data == true) {
                        boolChangedEmail = false;
                        $("#emailFormador").removeClass("is-valid");
                        $("#emailFormador").addClass("is-invalid");
                        $("#EmailInvalido").html("Email já existente!");

                    }
                    else {
                        boolChangedEmail = true;
                        $("#emailFormador").removeClass("is-invalid");
                        $("#emailFormador").addClass("is-valid");
                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        else {
            boolChangedEmail = false;
            $("#usernameFormador").removeClass("is-invalid");
            $("#usernameFormador").removeClass("is-valid");
            ValidaTodosOsCampos();

        }
    }

    function ChangingSenha(othis) {
        if ($("#passwordFormador").val().length >= 8) {
            boolChangedPassword = true;
            $("#passwordFormador").addClass("is-valid");
        }
        else {
            boolChangedPassword = false;
            $("#passwordFormador").removeClass("is-valid");
        }
        ChangingConfirmaSenha();
        ValidaTodosOsCampos();
    }
    function ChangingConfirmaSenha(othis) {
        if ($("#confirmaSenhaFormador").val().length >= 8) {
            if ($("#passwordFormador").val() != $("#confirmaSenhaFormador").val()) {
                boolChangedConfirmaPassword = false;
                $("#confirmaSenhaFormador").addClass("is-invalid");
                $("#confirmaSenhaFormador").removeClass("is-valid");
            }
            else {
                boolChangedConfirmaPassword = true;
                $("#confirmaSenhaFormador").removeClass("is-invalid");
                $("#confirmaSenhaFormador").addClass("is-valid");

            }
        }
        else {
            boolChangedConfirmaPassword = false;
            $("#confirmaSenhaFormador").removeClass("is-valid");
        }
        ValidaTodosOsCampos();
    }

    function ValidaTodosOsCampos() {

        if (boolChangedName && boolChangedUsername && boolChangedPassword && boolChangedEmail && boolChangedConfirmaPassword)
            $("#submeter").attr("disabled", false);
        else
            $("#submeter").attr("disabled", true);
    }


    $("#submeter").attr("disabled", true);


    $(function () {

        setInterval(() => {
            ValidaTodosOsCampos();
            ChangingSenha();
        }, 1000);

        let nomeFormadorValido = false;

        $("#submeter").click(function () {

            formador.Id = -1;
            formador.Nome = $("#nomeFormador").val();
            formador.Username = $("#usernameFormador").val();
            formador.Password = $("#passwordFormador").val();
            formador.Email = $("#emailFormador").val();
            formador.IsAdmin = false;
            formador.Categoria = $("#categoriaFormador").val();

            Swal.fire({
                title: 'Deseja criar um formador?',
                text: `Nome: ${formador.Nome}, Username: ${formador.Username}`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, Crie!',
                cancelButtonText: 'Não, Cancele!',
            }).then((result) => {

                if (result.value) {
                    $.ajax({
                        method: "POST",
                        url: "/InsereUtilizador",
                        data: JSON.stringify(formador),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            //console.log(data);
                            Swal.fire({
                                position: 'center',
                                type: 'success',
                                title: 'Formador criado!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            setTimeout(function () {
                                location.reload();
                            }, 1600);

                        },
                        error: function (data) {
                            //console.log(data);
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Erro ao editar um formador!',
                            });
                        }
                    });
                }
            });

        });
    });
</script>
