﻿@model ViewForModel
@{
    ViewData["Title"] = "Criar Curso";
}


@section ImportsHead{
    <script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="container">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Criação do curso</h1>
        </div>

        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Introduza o nome do curso</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" id="nomeCurso" onkeyup="ChangingName(this); FormandoSigla(this);" placeholder="Nome do curso" required maxlength="60">
                        <div class="valid-feedback">
                            Nome disponível!
                        </div>
                        <div class="invalid-feedback">
                            Nome já existe!
                        </div>
                    </div>


                    <div class="alert alert-primary" role="alert" id="tipoSigla" style="width: 30%; padding: 8px; display:block; display:inline; margin-top: 5px;">
                        <strong>Sigla:</strong> <label style="padding: 0px; margin: 0px" for="tipoSigla" id="siglaTexto">(A sigla aparecerá aqui)</label>
                    </div>

                    <div class="form-group" style="margin-top:18px">
                        <label>Horas</label>
                        <input class="form-control" id="horasCurso" onkeyup="ChangingHours(this);" placeholder="Número total de horas" required maxlength="5">
                        <div class="valid-feedback">
                            Horas válidas!
                        </div>
                        <div class="invalid-feedback">
                            Horas inválidas!
                        </div>
                    </div>





                </form>
                <button id="submeter" class="btn btn-primary" style="float:right">Submeter</button>
            </div>
        </div>
    </div>
</div>
<footer class="sticky-footer bg-white  text-center"
        style="
        bottom: 0;
        position: fixed;
        width: 100%;
        ">
    <div class="container my-auto">
        <div class="copyright my-auto">
            <span style="margin-right:10%;">Copyright © Your Website 2019</span>
        </div>
    </div>
</footer>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script>
    let boolChangedName;
    let boolChangedHours;

    let objCurso = {
        Id: -1,
        Nome: "Nome",
        Sigla: "Sigla",
        TotalHoras: 0
    };


    $(function () {
        $("#submeter").attr("disabled", true);
    });

    $("#submeter").click(function () {

        Swal.fire({
            title: 'Deseja criar um curso?',
            text: `Nome: ${objCurso.Nome}, Sigla: ${objCurso.Sigla}`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim, Crie!',
            cancelButtonText: 'Não, Cancele!',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    method: "POST",
                    url: "/InserirCurso",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(objCurso),
                    success: function (data) {
                        Swal.fire({
                            position: 'center',
                            type: 'success',
                            title: 'Curso criado!',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setTimeout(function () {
                            location.reload()
                        }, 1600);
                        console.log(data);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        });
    });



    function FormandoSigla(othis) {
        let arrSigla = othis.value.split(" ");
        let arrSiglaFeito = [];
        arrSigla.forEach(function (item, index) {

            if (item != "da" && item != "de" && item != "de" && item != "do" && item != "du" && item != "e")
                arrSiglaFeito.push(item[0]);
        });
        $("#siglaTexto").text(arrSiglaFeito.join(""));
    }

    function ChangingName(othis) {

        objCurso.Nome = othis.value;
        objCurso.Sigla = $("#siglaTexto").text();
        if (/\w* \w+ ?[a-zA-Z0-9_ ]*\w/g.test(othis.value)) {
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeNomeCursoIgual",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objCurso),
                success: function (data) {
                    if (data) {
                        boolChangedName = false;
                        $("#nomeCurso").addClass("is-invalid");
                        $("#nomeCurso").removeClass("is-valid");
                        $("#submeter").attr("disabled", true);
                    }
                    else {
                        boolChangedName = true;
                        $("#submeter").attr("disabled", false);
                        $("#nomeCurso").addClass("is-valid");
                        $("#nomeCurso").removeClass("is-invalid");
                    }
                    ValidaTudo();
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
        else {
            boolChangedName = false;
            $("#submeter").attr("disabled", true);
            $("#nomeCurso").removeClass("is-invalid");
            $("#nomeCurso").removeClass("is-valid");
            ValidaTudo();
        }
    }
    function ChangingHours(othis) {
        if (/^[0-9]*$/g.test(othis.value)) {
            objCurso.TotalHoras = parseInt(othis.value);
            boolChangedHours = true;
            $("#horasCurso").addClass("is-valid");
            $("#horasCurso").removeClass("is-invalid");
        } else {
            boolChangedHours = false;
            $("#horasCurso").addClass("is-invalid");
            $("#horasCurso").removeClass("is-valid");
        }
        ValidaTudo();
    }

    function ValidaTudo() {
        if (boolChangedHours && boolChangedName)
            $("#submeter").attr("disabled", false);
        else {
            $("#submeter").attr("disabled", true);
        }
    }

</script>