﻿@model ViewForModel


@{
    ViewData["Title"] = "Criar Categoria";
}

<!-- Begin Page Content -->
@section ImportsHead
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Templates/PrincipalPage/MultipleSelects/Groupable-Searchable-Dual-Listbox-Transfer/icon_font/css/icon_font.css" />
    <link rel="stylesheet" type="text/css" href="~/Templates/PrincipalPage/MultipleSelects/Groupable-Searchable-Dual-Listbox-Transfer/css/jquery.transfer.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.standalone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fastselect/0.7.3/fastselect.css" rel="stylesheet" type="text/css" />



}


<style>
    body {
        padding: 0px;
    }

    .fstElement {
        font-size: 0.73em;
        border-radius: 0.67em;
        width: 100%;
    }

    .fstMultipleMode .fstControls {
        width: 100%;
    }



    .transfer-double {
        all: inherit;
    }

    .fstChoiceItem {
        border-radius: 0.4em;
        border: 1px solid #4e73df;
        background-color: #4e73df;
    }

    .transfer-double-content-left {
        padding: 0;
        border: 3px solid #eee;
        width: 300px;
    }

    .transfer-double-content-right {
        padding: 0;
        border: 3px solid #eee;
        width: 300px;
    }

    .transfer {
        padding-right: 0px;
        margin: 0 8%;
    }

    .t

    .transfer-double-content {
    }

    .transfer-double-content clearfix {
        margin: 0 10%;
        width: 50%;
    }

    input::-webkit-input-placeholder {
        font-size: 16.75px;
    }
</style>


<div class="container-fluid">

    <div class="container">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Criação da categoria</h1>
        </div>
        <!-- Approach -->
        <div class="card shadow mb-4" style="width:100%; height:100%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Introduza os dados</h6>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" id="nomeCategoria" onkeyup="ChangingName(this);" placeholder="Nome da categoria" required maxlength="25">
                        <div class="valid-feedback">
                            Nome disponível!
                        </div>
                        <div class="invalid-feedback">
                            Nome já existe!
                        </div>

                    </div>

                    <div class="form-group">
                        <label>Ordem</label>
                        <select class="form-control" onchange="ChangingOrdem(this);" id="ordemCategoria">
                            <option value="-1">Selecione um Ordem</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Grupo</label>
                        <select class="form-control" id="grupoCurso" onchange="ChangingGrupo(this); ">
                            <option value="-1">Selecione um Grupo</option>
                            @foreach (Grupo grupo in Model.ListaDeGrupos)
                            {
                                <option value="@grupo.Id"> @grupo.Nome </option>
                            }

                        </select>

                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Associe os módulos</label> <br />
                        <select class="multipleSelect form-control" id="nomeModulos" multiple name="language" onchange="ChangingModulo(this);">
                            @foreach (var item in Model?.ListaDeModulos)
                            {
                                <option value=@item.CodModulo>@item.Nome</option>
                            }
                        </select>

                        <div class="alert alert-success" id="minimoMessageSuccess" style="font-size:14px; padding: .3rem .7rem; display:inline-block; visibility:hidden" role="alert">
                            Quantidade mínima de módulos<strong> suficiente</strong>
                        </div>

                        <div class="alert alert-dark" id="minimoMessage" style="float:left;font-size:14px; padding: .3rem .7rem;display:inline-block" role="alert">
                            Precisa-se de no<strong> mínimo 3 </strong>módulos atribuido a categoria
                        </div>

                    </div>


                    <script>
                        $.Fastselect.defaults = {
                            elementClass: 'fstElement',
                            singleModeClass: 'fstSingleMode',
                            noneSelectedClass: 'fstNoneSelected',
                            multipleModeClass: 'fstMultipleMode',
                            queryInputClass: 'fstQueryInput',
                            queryInputExpandedClass: 'fstQueryInputExpanded',
                            fakeInputClass: 'fstFakeInput',
                            controlsClass: 'fstControls',
                            toggleButtonClass: 'fstToggleBtn',
                            activeClass: 'fstActive',
                            itemSelectedClass: 'fstSelected',
                            choiceItemClass: 'fstChoiceItem',
                            choiceRemoveClass: 'fstChoiceRemove',
                            userOptionClass: 'fstUserOption',

                            resultsContClass: 'fstResults',
                            resultsOpenedClass: 'fstResultsOpened',
                            resultsFlippedClass: 'fstResultsFilpped',
                            groupClass: 'fstGroup',
                            itemClass: 'fstResultItem',
                            groupTitleClass: 'fstGroupTitle',
                            loadingClass: 'fstLoading',
                            noResultsClass: 'fstNoResults',
                            focusedItemClass: 'fstFocused',

                            matcher: null,

                            url: null,
                            loadOnce: false,
                            apiParam: 'query',
                            initialValue: null,
                            clearQueryOnSelect: true,
                            minQueryLength: 1,
                            focusFirstItem: false,
                            flipOnBottom: true,
                            typeTimeout: 150,
                            userOptionAllowed: false,
                            valueDelimiter: ',',
                            maxItems: null,

                            parseData: null,
                            onItemSelect: null,
                            onItemCreate: null,
                            onMaxItemsReached: null,

                            placeholder: 'Escolha os módulos',
                            searchPlaceholder: 'Procure os módulos',
                            noResultsText: 'Sem resultados',
                            userOptionPrefix: 'Add '
                        };
                        $('.multipleSelect').fastselect();
                    </script>
                    @*<h1>jQuery Transfer: Dual Listbox Plugin Example</h1>*@
                    <hr />
                    <hr />
                </form>
                <button type="submit" class="btn btn-primary" id="submeter" style="float:right">Submeter</button>
                @*<p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>*@
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Templates/PrincipalPage/MultipleSelects/Groupable-Searchable-Dual-Listbox-Transfer/js/jquery.transfer.js"></script>

<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white" style="
        bottom: 0;
        position: fixed;
        width: 100%;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span style="margin-right:10%;">Copyright © Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script type="text/javascript">
    //#region Objetos

    let ObjetoCategoria = {
        Id: -3,
        IdGrupo: -4,
        Nome: "Nome objCat",
        Ordem: 0
    };
    class RelCategoriaModulo {
        constructor(IdModulo, IdCategoria, Ordem) {
            this.IdCategoria = IdCategoria;
            this.IdModulo = IdModulo;
            this.Ordem = Ordem;
        }
    }


    let boolChangedName;
    let boolChangedOrdem;
    let boolChangedGrupo;
    let boolChangedModulo;


    //#endregion


    //#region Configuração AJAX

    //#region Validacao de campos
    function ValidaTodosOsCampos() {
        if (boolChangedName && boolChangedOrdem && boolChangedGrupo && boolChangedModulo)
            $("#submeter").attr("disabled", false);
        else
            $("#submeter").attr("disabled", true);
    }

    function ChangingOrdem(othis) {
        if (othis.value != -1) {
            ObjetoCategoria.Nome = othis.value;
            boolChangedOrdem = true;
            $("#ordemCategoria").removeClass("is-invalid");
            $("#ordemCategoria").addClass("is-valid");
        }
        else {
            $("#ordemCategoria").removeClass("is-valid");
            $("#ordemCategoria").addClass("is-invalid");
            boolChangedOrdem = false;
        }
        ValidaTodosOsCampos();
    }

    function ChangingGrupo(othis) {
        if (othis.value != -1) {
            ObjetoCategoria.IdGrupo = othis.value;
            boolChangedGrupo = true;
            $("#grupoCurso").removeClass("is-invalid");
            $("#grupoCurso").addClass("is-valid");
        }
        else {
            $("#grupoCurso").removeClass("is-valid");
            $("#grupoCurso").addClass("is-invalid");
            boolChangedGrupo = false;
        }
        ValidaTodosOsCampos();
    }


    function ChangingName(othis) {

        ObjetoCategoria.Nome = othis.value;
        if (othis.value.length >= 4)
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeCategoriaNomeIgual",
                data: JSON.stringify(ObjetoCategoria),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        boolChangedName = !data;
                        $("#nomeCategoria").removeClass("is-valid");
                        $("#nomeCategoria").addClass("is-invalid");
                    }
                    else {
                        boolChangedName = !data;
                        $("#nomeCategoria").addClass("is-valid");
                        $("#nomeCategoria").removeClass("is-invalid");

                    }
                    ValidaTodosOsCampos();
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        else {
            $("#nomeCategoria").removeClass("is-valid");
            boolChangedName = false;
            ValidaTodosOsCampos();

        }
    }

    function ChangingModulo(othis) {
        if ($("#nomeModulos").val().length >= 3) {
            boolChangedModulo = true;
            $("#minimoMessage").hide();
            $("#minimoMessageSuccess").show().css('visibility', 'visible');
        }
        else {
            boolChangedModulo = false;
            $("#minimoMessage").show();
            $("#minimoMessageSuccess").css('visibility', 'hidden');
        }
        ValidaTodosOsCampos();

    }


    //#endregion



    $(function () {
        $("#submeter").attr("disabled", true);
        $("#submeter").click(function () {

            Swal.fire({
                title: 'Deseja inserir uma nova Categoria?',
                text: `Nome da categoria: "${$("#nomeCategoria").val()}"`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Sim, Crie!'
            }).then((result) => {
                if (result.value) {

                    ObjetoCategoria.Id = -1;
                    ObjetoCategoria.Nome = $("#nomeCategoria").val();
                    ObjetoCategoria.IdGrupo = parseInt($("#grupoCurso").val());
                    ObjetoCategoria.Ordem = $("#ordemCategoria").val();

                    $.ajax({
                        method: "POST",
                        url: "/InserirCategoria",
                        data: JSON.stringify(ObjetoCategoria),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            Swal.fire(
                                'Inserção feita com sucesso!',
                                'Categoria inserida!',
                                'success'
                            )
                            if (data) {
                                GlobalIdCategoriaCriada = data;
                                AssociaModuloACategoria();
                            }

                            setTimeout(function () {
                                location.reload();
                            }, 1200);
                        },
                        error: function (data) {
                            console.log(data);
                        }
                    });
                }
            })
        });
    });

    let GlobalIdCategoriaCriada;


    function AssociaModuloACategoria() {
        let modulos = $("#nomeModulos").val();

        let arrRelCategoriaModulos = [];
        modulos.forEach(function (element, index) {
            arrRelCategoriaModulos.push(
                new RelCategoriaModulo(
                    parseInt(element),
                    GlobalIdCategoriaCriada,
                    ObjetoCategoria.Ordem)
            );
        });

        $.ajax({
            method: "POST",
            url: "/RelacionaModuloECategoria",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(arrRelCategoriaModulos),
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }

        })

    }


//#endregion
</script>