﻿@model ViewForModel
@{
    ViewData["Title"] = "Criar Turma";
}

<!-- Begin Page Content -->
@section ImportsHead
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Templates/PrincipalPage/MultipleSelects/Groupable-Searchable-Dual-Listbox-Transfer/icon_font/css/icon_font.css" />
    <link rel="stylesheet" type="text/css" href="~/Templates/PrincipalPage/MultipleSelects/Groupable-Searchable-Dual-Listbox-Transfer/css/jquery.transfer.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
}

<style>
    body {
        padding: 0px;
    }

    .transfer-double {
        all: inherit;
    }

    .transfer-double-content-left {
        padding: 0;
        border: 3px solid #eee;
        width: 300px;
    }

    .transfer-double-content-right {
        padding: 0;
        border: 3px solid #eee;
        width: 300px;
    }

    .transfer {
        padding-right: 0px;
        margin: 0 8%;
    }

    .t

    .transfer-double-content {
    }

    .transfer-double-content clearfix {
        margin: 0 10%;
        width: 50%;
    }

    input::-webkit-input-placeholder {
        font-size: 16.75px;
    }
</style>


<div class="container-fluid">

    <div class="container">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Criação da turma</h1>
        </div>
        <!-- Approach -->
        <div class="card shadow mb-4" style="width:100%; height:100%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Introduza os dados</h6>
            </div>
            <div class="card-body">
                <form asp-action="CriarTurma" method="post">
                    <div class="form-group">
                        <label asp-for="criacaoDaTurma.Nome">Nome</label>
                        <input class="form-control" id="nomeTurma" onkeyup="ChangingName(this);" placeholder="Nome da turma" required maxlength="25">

                        <div class="valid-feedback">
                            Nome disponível!
                        </div>
                        <div class="invalid-feedback">
                            Nome já existe!
                        </div>

                    </div>

                    <div class="form-group">
                        <label asp-for="criacaoDaTurma.Regime">Regime</label>
                        <select asp-for="criacaoDaTurma.Regime" class="form-control" onchange="ChangingRegime(this);" id="regimeTurma">
                            <option value="-1">Selecione um Regime</option>
                            @foreach (Regime reg in Model.ListaDeRegimes)
                            {
                                <option value="@reg.Id"> @reg.NomeRegime </option>
                            }
                        </select>

                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Curso</label>
                        <select class="form-control" id="turmaCurso" onchange="ChangingCurso(this); ">
                            <option value="-1">Selecione um Curso</option>

                            @foreach (Curso cur in Model.ListaDeCursos)
                            {
                                <option value="@cur.Id"> @cur.Nome </option>
                            }

                        </select>

                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Coordenador</label>
                        <select class="form-control" id="coordenadorTurma" onchange="ChangingCoordernador(this);">
                            <option value="-1">Selecione um Coordenador</option>

                            @foreach (Formador form in Model.ListaDeFormadores)
                            {
                                if (form.IsAdmin == true)
                                {
                                    <option value="@form.Id"> @form.Nome </option>
                                }
                            }

                        </select>

                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Férias</label>
                        <select class="form-control" id="feriasMes" onchange="ChangingMes(this)">
                            <option value=-1 selected>Selecione o mês para as férias</option>
                            <option value=1>Janeiro</option>
                            <option value=2>Fevereiro</option>
                            <option value=3>Março</option>
                            <option value=4>Abril</option>
                            <option value=5>Maio</option>
                            <option value=6>Junho</option>
                            <option value=7>Julho</option>
                            <option value=8>Agosto</option>
                            <option value=9>Setembro</option>
                            <option value=10>Outubro</option>
                            <option value=11>Novembro</option>
                            <option value=12>Dezembro</option>
                        </select>
                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>



                    <div class="form-group">
                        <label>Data de início</label>
                        <input id="datepicker" class="form-control" width="276" readonly onclick="ChangingDateTimePicker(this); " />
                        <script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4',
                                format: 'dd/mm/yyyy'
                            });
                        </script>
                        <div class="valid-feedback">
                            OK!
                        </div>
                    </div>


                    @*<h1>jQuery Transfer: Dual Listbox Plugin Example</h1>*@
                    <hr />
                    <hr />
                    <div class="form-group">
                        <label asp-for="criacaoDaTurma.FormadoresDaTurma">Associar formadores a Turma</label>
                        <div style="margin-top:0px; margin-left:auto; margin-right:auto; display:block">
                            <input type="text" asp-for="criacaoDaTurma.FormadoresDaTurma" id="listaDeFormadores" style="display:none" /> @*<span  id="selectedItemSpan" ></span>*@
                        </div>
                        <div class="transfer"></div>
                        <div class="alert alert-success" id="minimoFormadoresSuccess" style="font-size:14px; padding: .3rem .7rem; display:inline-block; visibility:hidden" role="alert">
                            Quantidade mínima de formadores é<strong> suficiente</strong>
                        </div>

                        <div class="alert alert-dark" id="minimoFormadores" style="float:left;font-size:14px; padding: .3rem .7rem;display:inline-block" role="alert">
                            Precisa-se de no <strong>mínimo 2</strong> formadores atribuido a turma
                        </div>
                    </div>
                    <hr />
                    <hr />
                </form>
                <button type="submit" class="btn btn-primary" id="submeter" style="float:right">Submeter</button>
                @*<p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                    <p class="mb-0">Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>*@
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Templates/PrincipalPage/MultipleSelects/Groupable-Searchable-Dual-Listbox-Transfer/js/jquery.transfer.js"></script>

<!-- End of Main Content -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<script type="text/javascript">
    //#region configuracões da página
    $(function () {
        $(".tab-item-name")[0].textContent = "Cursos";
        $(".tab-item-name")[1].textContent = "Formadores";
        $(".transfer-double-list-search-input").attr("placeholder", "Pesquisar");
        $(".param-item")[0].textContent = "Formadores";
        $(".transfer-double-selected-list-search-input").attr("placeholder", "Pesquisar");
    });


    var languages = [

            @{
                var arrumaSe = from doc in Model.DocentesESigla
                               group doc by doc.Sigla into newGroup
                               orderby newGroup.Key
                               select newGroup;
            }

        @foreach (var formador in Model.ListaDeFormadores)
        {
            @:{
                @:"language": "@formador.Nome",
                @:"value":@formador.Id
            @:},
        }

        //{
        //    "formador": "Hélder",
        //    "id": 122
        //},
        //{
        //    "language": "Pedro Vasconcelos",
        //    "value": 422
        //},
    ];

    var groupData = [

        @{
            var filtra = new[]
            {
                new
                {
                    Id = -1,
                    Nome = ""
                }
            }.ToList();
            filtra.Clear();
        }
    @foreach (var item in arrumaSe)
    {
          @:{
                @:"groupName":"@item.Key",
                @:"groupData": [
                    var teste = item. Distinct();

        foreach (var it in item)
        {
            filtra.Add(new
            {
               Id = it.Id,
               Nome = it.Nome
            });
        }

        foreach (var Formador in filtra.Distinct())
        {
                    @:{
                        @:"language": "@Formador.Nome",
                        @:"value":@Formador.Id
                    @:},
        }
                @:]
            @:},
        filtra.Clear();
    }
    ];

    var settings = {
        "inputId": "languageInput",
        "data": languages,
        "groupData": groupData,
        "itemName": "language",
        "groupItemName": "groupName",
        "groupListName": "groupData",
        "container": "transfer",
        "valueName": "value",
        "callable": function (data, names) {
            $("#listaDeFormadores").val(`${data}`);
            ChangingFormadores(data);
            ValidaTodosOsCampos();
            //console.log(`selected：${data} - ${names}`);
            //$("#selectedItemSpan").text(names)
        }
    };
    Transfer.transfer(settings);

    //#endregion
    //#region Objetos

        let ObjetoTurma = {
            Id: -3,
            IdRegime: -4,
            IdCurso: -5,
            Nome: "nome turma",
            DataInicio: "10/10/2010",
            MesFerias: 8,
            Coordenador: "nome do coordenador"
    };
    let nomeTurma = {
        NomeDaTuma: ""
    };

    class RelFormadorModulo {
        constructor(IdFormador, IdModulo, IdTurma) {
            this.IdFormador = IdFormador;
            this.IdModulo = IdModulo;
            this.IdTurma = IdTurma;
        }
    }

        let boolChangedName;
        let boolChangedRegime;
        let boolChangedCurso;
        let boolChangedCoordenador;
        let boolChangedDateTimePicker;
        let boolChangedFormador;
        let boolChangedMes;


    //#endregion
    //#region Configuração AJAX



    //#region Validacao de campos
        function ValidaTodosOsCampos() {
            if (boolChangedName && boolChangedRegime && boolChangedMes && boolChangedCoordenador && boolChangedCurso && boolChangedDateTimePicker && boolChangedFormador)
                $("#submeter").attr("disabled", false);
            else
                $("#submeter").attr("disabled", true);
         }



    function ChangingMes(othis) {

        console.log(othis.value);
        if (othis.value != -1) {
            $("#feriasMes").addClass("is-valid");
            ObjetoTurma.MesFerias = parseInt(othis.value);
            boolChangedMes = true;
        } else {
            boolChangedMes = false;
            $("#feriasMes").removeClass("is-valid");
        }
        ValidaTodosOsCampos();
    }

    function ChangingRegime(othis) {
            if (othis.value != -1) {
                $("#regimeTurma").addClass("is-valid");
                $("#regimeTurma").removeClass("is-invalid");
                boolChangedRegime = true;
            }
            else {
                $("#regimeTurma").removeClass("is-valid");
                boolChangedRegime = false;
            }
        //console.log(othis.value);
         ValidaTodosOsCampos();
    }
    function ChangingCurso(othis) {
        if (othis.value != -1) {
            $("#turmaCurso").addClass("is-valid");
            boolChangedCurso = true;
        }
        else {
            $("#turmaCurso").removeClass("is-valid");
            boolChangedCurso = false;
        }
        ValidaTodosOsCampos();
    }
    function ChangingCoordernador(othis) {
        if (othis.value != -1) {
            $("#coordenadorTurma").addClass("is-valid");
            boolChangedCoordenador = true;
        }
        else {
            $("#coordenadorTurma").removeClass("is-valid");
            boolChangedCoordenador = false;
        }
         ValidaTodosOsCampos();
    }

    function ChangingDateTimePicker(othis) {

        let intervalo = setInterval(function () {
            if (othis.value) {
                $("#datepicker").addClass("is-valid");
                boolChangedDateTimePicker = true;
                ValidaTodosOsCampos();
                clearInterval(intervalo);
            }
        }, 1000);

        }

    function ChangingFormadores(data) {


            var names = $("#listaDeFormadores").val().split(",");
            var formadoresUnicos = [];
            $.each(names, function(i, el){
                if($.inArray(el, formadoresUnicos) === -1) formadoresUnicos.push(el);
            });

        if (formadoresUnicos.length >= 2) {
            boolChangedFormador = true;
            $("#minimoFormadores").hide();
            $("#minimoFormadoresSuccess").show().css('visibility', 'visible');
        }
        else {
            boolChangedFormador = false;
            $("#minimoFormadores").show();
            $("#minimoFormadoresSuccess").show().css('visibility', 'hidden');
        }

    }


    function ChangingName(othis) {

            nomeTurma.NomeDaTuma = othis.value;

        if (othis.value.length >= 4)
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeTurmaNomeIgual",
                data: JSON.stringify(nomeTurma),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        boolChangedName = !data;
                        $("#nomeTurma").removeClass("is-valid");
                        $("#nomeTurma").addClass("is-invalid");
                    }
                    else {
                        boolChangedName = !data;
                        $("#nomeTurma").addClass("is-valid");
                        $("#nomeTurma").removeClass("is-invalid");

                    }
                  ValidaTodosOsCampos();
                console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

     //#endregion
    $(function () {
        $("#submeter").attr("disabled", true);
        $("#submeter").click(function () {


            Swal.fire({
              title: 'Deseja inserir uma nova turma?',
              text: `Nome da turma: "${$("#nomeTurma").val()}"`,
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              cancelButtonText: 'Cancelar',
              confirmButtonText: 'Sim, Crie!'
            }).then((result) => {
              if (result.value) {

                let dateSplit = $("#datepicker").val().split("/");
                  let DateTimeUK = `${dateSplit[1]}/${dateSplit[0]}/${dateSplit[2]}`;

                ObjetoTurma.Id = -1;
                ObjetoTurma.IdRegime = parseInt($("#regimeTurma").val());
                ObjetoTurma.IdCurso = parseInt($("#turmaCurso").val());
                ObjetoTurma.Nome = $("#nomeTurma").val();
                ObjetoTurma.DataInicio = DateTimeUK;
                ObjetoTurma.Coordenador = $("#coordenadorTurma option:selected").text();

                $.ajax({
                    method: "POST",
                    url: "/InserirTurma",
                    data: JSON.stringify(ObjetoTurma),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        GlobalIdTurmaCriada = data;
                        console.log(data);
                        AssociaFormadores();
                        Swal.fire(
                          'Inserção feita com sucesso!',
                          'Turma inserida!',
                          'success'
                        )

                        setTimeout(function () {
                            location.reload();
                        }, 1200);
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
              }
            })
        });

        function AssociaFormadores() {
            var names = $("#listaDeFormadores").val().split(",");
            var formadoresUnicos = [];
            $.each(names, function(i, el){
                if($.inArray(el, formadoresUnicos) === -1) formadoresUnicos.push(el);
            });

            ArrayRelacaoFormadorModulos = new Array();

            formadoresUnicos.forEach(function (form) {
                ArrayRelacaoFormadorModulos.push(new RelFormadorModulo(form, 0, GlobalIdTurmaCriada));
            });

            $.ajax({
                method: "POST",
                url: "/AssociarFormadores",
                data: JSON.stringify(ArrayRelacaoFormadorModulos),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }




    });

    let GlobalIdTurmaCriada;

    //#endregion
</script>