﻿@section ImportsHead{

    @*
<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>*@
<!-- Custom fonts for this template -->
    @*<link href="~/Templates/PrincipalPage/dashadm/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

<!-- Custom styles for this template -->
    @*<link href="~/Templates/PrincipalPage/dashadm/css/sb-admin-2.min.css" rel="stylesheet">*@

<!-- Custom styles for this page -->
<link href="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
}

@{
    ViewData["Title"] = "Gerar Horários";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Seção destinada a<strong> gerar horários</strong> </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gerador de horários</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="GerarHorariosTable" width="100%" cellspacing="0"></table>
            </div>
        </div>
        <div class="modal fade" id="situacaoModal" tabindex="-1" role="dialog" aria-labelledby="situacaoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="situacaoLabel">Id: </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <br />
                        <div style="margin-right: 10%; margin-left: 10%;">
                            <ul class="list-group list-group-flush">
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success btn-lg" id="btnGerar">Gerar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
@*
<script src="~/Templates/PrincipalPage/dashadm/js/sb-admin-2.min.js"></script>*@

<!-- Page level plugins -->
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Templates/PrincipalPage/dashadm/js/demo/datatables-demo.js"></script>

<script>
    let globalTable;
    let formadoresNEnviouHorarios;
    $(function () {
        //setInterval(() => {
        //    ValidaTodosOsCampos();
        //}, 1000);
        let MostraButton = true;
        globalTable = $('#GerarHorariosTable').dataTable({
            processing: true,
            order: [
                [0, 'desc']
            ],
            ajax: {
                url: "/RetornaJSONTurma",
                dataSrc: ''
            },
            //data: data,
            columns: [
                {
                    "title": "Id",
                    "data": "id"
                },
                {
                    "title": "Nome",
                    "data": "nome"
                },
                {
                    "title": "Regime",
                    "data": "nomeRegime"
                },
                {
                    "title": "Curso",
                    "data": "nomeCurso"
                },
                {
                    "title": "Início",
                    "data": "dataInicio"
                },
                {
                    "title": "Coordenador",
                    "data": "coordenador"
                },
                {
                    "title": "Gerar",
                    "data": "situacao"
                }
            ]
        });
        $('#GerarHorariosTable tbody').on('click', '.btn', function () {
            let currow = $(this).closest('tr');

            console.log(currow.find('td:eq(0)').text());
            console.log(currow.find('td:eq(1)').text());
            console.log(currow.find('td:eq(2)').text());
            console.log(currow.find('td:eq(3)').text());
            console.log(currow.find('td:eq(4)').text());
            console.log(currow.find('td:eq(5)').text());
            console.log(currow.find('td:eq(6)').text());

            $.ajax({
                url: `/RetornaFormadoresQueFaltamMandarHorariosDeUmaDeterminadaTurma?idTurma=${currow.find('td:eq(0)').text()}`,
                method: 'get',
                dataType: 'json',
                data: {},
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $(".list-group-flush").html('');
                    if (data === undefined || data.length == 0) {
                        console.log("é nulo ou undefined")
                    } else {
                        MostraButton = true;
                        data.forEach((element, index) => {
                            if (element.inserido) {
                                $(".list-group-flush").append(`<li class="list-group-item"><i class="fas fa-check" style="flex:auto; margin: 0 1em;color:green;"></i> ${element.nomeFormador}</li>`)
                            }
                            else {
                                MostraButton = false;
                                $(".list-group-flush").append(`<li class="list-group-item" ><i class="fas fa-times" style="flex:auto; margin: 0 1em;color:red;"></i> ${element.nomeFormador}</li>`)
                            }
                        });
                    }
                    if (MostraButton != true)
                        $("#btnGerar").attr('disabled', true);
                    else {
                        $("#btnGerar").attr('disabled', false);
                    }

                    //console.log(data);
                    //console.log(data.length);
                }
            });
            //utilizador.Id = currow.find('td:eq(0)').text();
            //utilizador.Nome = currow.find('td:eq(1)').text();
            //utilizador.Username = currow.find('td:eq(2)').text();
            //utilizador.Password = currow.find('td:eq(3)').text();
            //utilizador.Email = currow.find('td:eq(4)').text();
            //utilizador.IsAdmin = currow.find('td:eq(5)').text();

            //$("#recipient-nomeEdit").val(utilizador.Nome);
            //$("#recipient-userNameEdit").val(utilizador.Username);
            //$("#recipient-passwordEdit").val(utilizador.Password);
            //$("#recipient-emailEdit").val(utilizador.Email);
            //$("#recipient-coordenadorEdit").val(utilizador.IsAdmin);


            $('#situacaoLabel').html(`Nome turma: ${currow.find('td:eq(1)').text()}`);
        });
    });

    //$('#GerarHorariosTable').on('show.bs.modal', function (event) {
    //    var button = $(event.relatedTarget); // Button that triggered the modal
    //    var idnot = button.data('idnotificacao'); // Extract info from data-* attributes
    //    var nomenot = button.data('nometurma'); // Extract info from data-* attributes
    //    $("#situacaoLabel").html(`ID - ${idnot}`);

    //    $(".alert-success").html(`Insira o horário em Excel da turma <strong> ${nomenot}</strong>`);


    //    //var modal = $(this);
    //    //modal.find('.modal-title').text('New message to ' + recipient);
    //    //modal.find('.modal-body input').val(recipient);
    //    //modal.find('#idNotificacao').val(recipient);
    //});


</script>

