﻿@{
    ViewData["Title"] = "Gerir Módulos";
}

@section ImportsHead{

    @*<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>*@
    <!-- Custom fonts for this template -->
    @*<link href="~/Templates/PrincipalPage/dashadm/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

    <!-- Custom styles for this template -->
    @*<link href="~/Templates/PrincipalPage/dashadm/css/sb-admin-2.min.css" rel="stylesheet">*@

    <!-- Custom styles for this page -->
    <link href="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Seção destinada a <strong>gerir módulos</strong> </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gestão de módulos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" style="text-align:center" id="gestaoDeModulos" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="ModalEdit" tabindex="-2" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditLabel" style="color:cornflowerblue"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    @*$("#recipient-nomeEdit").val(Nome);
                        $("#recipient-userNameEdit").val(Username);
                        $("#recipient-passwordEdit").val(Password);
                        $("#recipient-emailEdit").val(Email);
                        $("#recipient-coordenadorEdit").val(Coordenador);*@


                    <div class="form-group">
                        <label for="sel1">Nome:</label>
                        <input type="text" class="form-control is-valid" id="recipient-nomeEdit" onkeyup="ChangingName(this);" maxlength="100" />

                        <div class="valid-feedback">
                            Nome válido!
                        </div>
                        <div class="invalid-feedback">
                            Nome inválido!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Sigla:</label>
                        <input type="text" class="form-control is-valid" id="recipient-siglaEdit" onkeyup="ChangingSigla(this); " maxlength="15" />


                        <div class="valid-feedback">
                            Sigla válida!
                        </div>
                        <div class="invalid-feedback">
                            Sigla existente!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Horas:</label>
                        <select class="form-control is-valid" id="recipient-horasEdit">
                            <option value=25>25</option>
                            <option value=50>50</option>
                        </select>


                        <div class="valid-feedback">
                            OK!
                        </div>
                        <div class="invalid-feedback">
                            Horas inválido!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Obsevacoes:</label>
                        <input type="text" class="form-control is-valid" id="recipient-observacoesEdit" onkeyup="ChangingObservacoes(this);" maxlength="25" />

                        <div class="valid-feedback">
                            Obsevacoes válido!
                        </div>
                        <div class="invalid-feedback" id="ObsevacoesInvalido">
                            Obsevacoes já existe
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="fecheLaMuerte" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="RowEdit">Editar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
@*<script src="~/Templates/PrincipalPage/dashadm/js/sb-admin-2.min.js"></script>*@

<!-- Page level plugins -->
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Templates/PrincipalPage/dashadm/js/demo/datatables-demo.js"></script>

<script>
    let nomeGlobal;
    let siglaGlobal;
    let observacoesGlobal;

    var globalTable;

    let objModulo = {
        CodModulo: -1,
        Nome: "IDEM",
        Sigla: "IDEM",
        NmrHoras: 0,
        Observacoes: "IDEM"
    };
    function ReloadDataTable() {
        globalTable.api().ajax.reload()
        //$('#gestaoDeFormadores').DataTable.fnReloadAjax()
    }
    $(function () {
        setInterval(() => {
            ValidaTodosOsCampos();
        }, 1000);

        globalTable = $('#gestaoDeModulos').dataTable({
            processing: true,
            order: [
                [0, 'desc']
            ],
            ajax: {
                url: "/RetornaJSONmodulos",
                dataSrc: ''
            },
            //data: data,
            columns: [
                {
                    "title": "Código",
                    "data": "codModulo"
                },
                {
                    "title": "Nome",
                    "data": "nome"
                },
                {
                    "title": "Sigla",
                    "data": "sigla"
                },
                {
                    "title": "Horas",
                    "data": "nmrHoras"
                },
                {
                    "title": "Observações",
                    "data": "observacoes"
                },
                {
                    "title": "Ações",
                    "data": "actions"
                }
            ]
        });

        $('#gestaoDeModulos tbody').on('click', '.btn', function () {
            let currow = $(this).closest('tr');

            //console.log(currow.find('td:eq(0)').text());
            //console.log(currow.find('td:eq(1)').text());
            //console.log(currow.find('td:eq(2)').text());
            //console.log(currow.find('td:eq(3)').text());
            //console.log(currow.find('td:eq(4)').text());
            //console.log(currow.find('td:eq(5)').text());
            //console.log(currow.find('td:eq(6)').text());

            objModulo.CodModulo = currow.find('td:eq(0)').text();
            objModulo.Nome = currow.find('td:eq(1)').text();
            objModulo.Sigla = currow.find('td:eq(2)').text();
            objModulo.NmrHoras = currow.find('td:eq(3)').text();
            objModulo.Observacoes = currow.find('td:eq(4)').text();

            nomeGlobal = objModulo.Nome;
            siglaGlobal = objModulo.Sigla;
            observacoesGlobal = objModulo.Observacoes;

            $("#recipient-nomeEdit").val(objModulo.Nome);
            $("#recipient-siglaEdit").val(objModulo.Sigla);
            $("#recipient-horasEdit").val(objModulo.NmrHoras);
            $("#recipient-observacoesEdit").val(objModulo.Observacoes);

            $('#EditLabel').html(` Edite o <strong>Módulo  ${objModulo.CodModulo} <br/> "${objModulo.Nome}"</strong>.`);
        });
        //RowEditUpdate
        $('#RowEdit').on('click', function () {

            let isAdmin = $("#recipient-coordenadorEdit").val();

            isAdmin = (isAdmin == 1) ? true : false;

            let ModuloEditado = {
                CodModulo: objModulo.CodModulo,
                Nome: $("#recipient-nomeEdit").val(),
                Sigla: $("#recipient-siglaEdit").val(),
                NmrHoras: $("#recipient-horasEdit").val(),
                Observacoes: $("#recipient-observacoesEdit").val()
            };

            Swal.fire({
                title: 'Deseja atualizar esse módulo?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, Atualize!',
                cancelButtonText: 'Não, Cancele!',

            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'post',
                        url: '/EditaModulo',
                        data: JSON.stringify(ModuloEditado),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);
                            Swal.fire(
                                'Atualizado!',
                                'O módulo foi atualizado.',
                                'success',
                            )
                            $('#gestaoDeModulos').DataTable().ajax.reload();
                            $('#ModalEdit').modal('hide');
                            $('.modal-backdrop').hide();
                        },
                        error: function (err) {
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Erro ao editar o módulo!',
                            })
                        }
                    });
                }
            })
        });
    });


    //validacao
    let boolChangedName = true;
    let boolChangedSigla = true;
    let boolChangedObservacoes = true;

    function deleterow(codmodulo) {
        let objModulo = {
            CodModulo: codmodulo,
            Nome: "IDEM",
            Sigla: "IDEM",
            NmrHoras: 0,
            Observacoes: "IDEM"
        };
        Swal.fire({
            title: 'Deseja excluir o módulo?',
            text: "Você não será capaz de desfazer essa ação!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim, Exclua!',
            cancelButtonText: 'Não, Cancele!'

        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: '/DeletaModulo',
                    method: 'delete',
                    data: JSON.stringify(objModulo),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        ReloadDataTable();
                        Swal.fire(
                            'Deletado!',
                            'O módulo foi deletado.',
                            'success'
                        )
                        //$('#gestaoDeModulos').DataTable().ajax.reload();
                        //table.fnDestroy();
                        //readData();
                    },
                    error: function (err) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong deleting a module!',
                        })
                        alert(err);
                    }
                });
            }
        });
    }

    function ChangingName(othis) {
        objModulo.Nome = othis.value;
        if ($("#recipient-nomeEdit").val().length >= 7) {
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeNomeModuloIgual",
                data: JSON.stringify(objModulo),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data && objModulo.Nome != nomeGlobal) {
                        $("#recipient-nomeEdit").addClass("is-invalid");
                        $("#recipient-nomeEdit").removeClass("is-valid");
                        boolChangedName = false;
                    }
                    else {
                        $("#recipient-nomeEdit").removeClass("is-invalid");
                        $("#recipient-nomeEdit").addClass("is-valid");
                        boolChangedName = true;

                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        }
        else {
            boolChangedUsername = false;
            $("#recipient-nomeEdit").removeClass("is-invalid");
            $("#recipient-nomeEdit").removeClass("is-valid");
        }
        ValidaTodosOsCampos();
    }

    function ChangingSigla(othis) {
        objModulo.Sigla = othis.value;

        if (othis.value.length >= 1)
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeSiglaModuloIgual",
                data: JSON.stringify(objModulo),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data == true && objModulo.Sigla != siglaGlobal) {
                        $("#recipient-siglaEdit").addClass("is-invalid");
                        $("#recipient-siglaEdit").removeClass("is-valid");
                        boolChangedSigla = false;
                    }
                    else {
                        $("#recipient-siglaEdit").removeClass("is-invalid");
                        $("#recipient-siglaEdit").addClass("is-valid");
                        boolChangedSigla = true;
                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        else {
            boolChangedSigla = false;
            $("#recipient-siglaEdit").removeClass("is-invalid");
            $("#recipient-siglaEdit").removeClass("is-valid");
        }
    }

    function ChangingObservacoes(othis) {
        objModulo.Observacoes = othis.value;

        if (othis.value.length >= 1)
            $.ajax({
                method: "POST",
                url: "/RetornaTrueSeObservacoesModuloIgual",
                data: JSON.stringify(objModulo),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data == true && objModulo.Observacoes != observacoesGlobal) {
                        $("#recipient-observacoesEdit").addClass("is-invalid");
                        $("#recipient-observacoesEdit").removeClass("is-valid");
                        boolChangedObservacoes = false;
                    }
                    else {
                        $("#recipient-observacoesEdit").removeClass("is-invalid");
                        $("#recipient-observacoesEdit").addClass("is-valid");
                        boolChangedObservacoes = true;
                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        else {
            boolChangedObservacoes = false;
            $("#recipient-observacoesEdit").removeClass("is-invalid");
            $("#recipient-observacoesEdit").removeClass("is-valid");
        }
    }



    function ValidaTodosOsCampos() {

        if (boolChangedName && boolChangedSigla && boolChangedObservacoes)
            $("#RowEdit").attr("disabled", false);
        else
            $("#RowEdit").attr("disabled", true);
    }




</script>
