﻿@{
    ViewData["Title"] = "Gerir Formadores";
}

@section ImportsHead{

    @*<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery/jquery.min.js"></script>*@
    <!-- Custom fonts for this template -->
    @*<link href="~/Templates/PrincipalPage/dashadm/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

    <!-- Custom styles for this template -->
    @*<link href="~/Templates/PrincipalPage/dashadm/css/sb-admin-2.min.css" rel="stylesheet">*@

    <!-- Custom styles for this page -->
    <link href="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Seção destinada a <strong>gerir coordenadores e formadores</strong> </h1>
    <p class="mb-4">Qualquer usuário que seja apagado <strong style="color:red">não será recuperado.</strong></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gestão de utilizadores</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="gestaoDeFormadores" width="100%" style="text-align:center" cellspacing="0">
                    @*<thead>
                            <tr>
                                <th>Nome</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Administrador</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Administrador</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>*@
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="ModalEdit" tabindex="-2" role="dialog" aria-labelledby="ModalEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditLabel" style="color:cornflowerblue"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>

                    @*$("#recipient-nomeEdit").val(Nome);
                        $("#recipient-userNameEdit").val(Username);
                        $("#recipient-passwordEdit").val(Password);
                        $("#recipient-emailEdit").val(Email);
                        $("#recipient-coordenadorEdit").val(Coordenador);*@


                    <div class="form-group">
                        <label for="sel1">Nome:</label>
                        <input type="text" class="form-control is-valid" id="recipient-nomeEdit" onkeyup="ChangingName(this);" maxlength="45" />

                        <div class="valid-feedback">
                            Nome válido!
                        </div>
                        <div class="invalid-feedback">
                            Nome inválido!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username:</label>
                        <input type="text" class="form-control is-valid" id="recipient-userNameEdit" onkeyup="ChangingUsername(this); " maxlength="15" />


                        <div class="valid-feedback">
                            Username válido!
                        </div>
                        <div class="invalid-feedback">
                            Username existente!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Password:</label>
                        <input type="text" class="form-control is-valid" id="recipient-passwordEdit" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$" onkeyup="ChangingSenha(this); ValidaTodosOsCampos();" maxlength="15" />

                        <div class="valid-feedback">
                            Password válido!
                        </div>
                        <div class="invalid-feedback">
                            Password inválido!
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="text" class="form-control is-valid" id="recipient-emailEdit" onkeyup="ChangingEmail(this);" maxlength="25" />

                        <div class="valid-feedback">
                            Email válido!
                        </div>
                        <div class="invalid-feedback" id="EmailInvalido">
                            Email ??
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Coordenador</label>
                        <select id="recipient-coordenadorEdit" class="form-control">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="fecheLaMuerte" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="RowEdit">Editar</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- Footer -->
<footer class="sticky-footer bg-white" style="
        bottom: 0;
        position: fixed;
        width: 100%;">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span style="margin-right:10%;">Copyright © Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
@*<script src="~/Templates/PrincipalPage/dashadm/js/sb-admin-2.min.js"></script>*@

<!-- Page level plugins -->
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Templates/PrincipalPage/dashadm/js/demo/datatables-demo.js"></script>

<script>
    var globalTable;

    let emailGLOBALIZADO;
    let UsernameGLOBALIZADO;
    $(function () {
        setInterval(() => {
            ValidaTodosOsCampos();
        }, 1000);
        let utilizador = {
            Id: -1,
            Nome: "IDEM",
            Username: "IDEM",
            Password: "IDEM",
            Email: "IDEM",
            IsAdmin: "IDEM",
            Actions: "IDEM"
        };



        globalTable = $('#gestaoDeFormadores').dataTable({
            processing: true,
            order: [
                [0, 'desc']
            ],
            ajax: {
                url: "/RetornaJSONformadores",
                dataSrc: ''
            },
            //data: data,
            columns: [
                {
                    "title": "Id",
                    "data": "id"
                },
                {
                    "title": "Nome",
                    "data": "nome"
                },
                {
                    "title": "Username",
                    "data": "username"
                },
                {
                    "title": "Password",
                    "data": "password"
                },
                {
                    "title": "Email",
                    "data": "email"
                },
                {
                    "title": "Coordenador",
                    "data": "isAdmin"
                },
                {
                    "title": "Ações",
                    "data": "actions"
                }
            ]
        });

        $('#gestaoDeFormadores tbody').on('click', '.btn', function () {
            let currow = $(this).closest('tr');

            //console.log(currow.find('td:eq(0)').text());
            //console.log(currow.find('td:eq(1)').text());
            //console.log(currow.find('td:eq(2)').text());
            //console.log(currow.find('td:eq(3)').text());
            //console.log(currow.find('td:eq(4)').text());
            //console.log(currow.find('td:eq(5)').text());
            //console.log(currow.find('td:eq(6)').text());

            utilizador.Id = currow.find('td:eq(0)').text();
            utilizador.Nome = currow.find('td:eq(1)').text();
            utilizador.Username = currow.find('td:eq(2)').text();
            utilizador.Password = currow.find('td:eq(3)').text();
            utilizador.Email = currow.find('td:eq(4)').text();
            utilizador.IsAdmin = currow.find('td:eq(5)').text();

            UsernameGLOBALIZADO = utilizador.Username;
            emailGLOBALIZADO = utilizador.Email;

            if (utilizador.IsAdmin == "Sim")
                utilizador.IsAdmin = 1
            else
                utilizador.IsAdmin = 0;

            $("#recipient-nomeEdit").val(utilizador.Nome);
            $("#recipient-userNameEdit").val(utilizador.Username);
            $("#recipient-passwordEdit").val(utilizador.Password);
            $("#recipient-emailEdit").val(utilizador.Email);
            $("#recipient-coordenadorEdit").val(utilizador.IsAdmin);

            var modal = $(this)


            $('#EditLabel').html(` Edite o <strong>utilizador  ${utilizador.Id} - "${utilizador.Nome}"</strong>.`);
        });
        //RowEditUpdate
        $('#RowEdit').on('click', function () {

            let isAdmin = $("#recipient-coordenadorEdit").val();

            isAdmin = (isAdmin == 1) ? true : false;

            let FormadorEditado = {
                Id: utilizador.Id,
                Nome: $("#recipient-nomeEdit").val(),
                Username: $("#recipient-userNameEdit").val(),
                Password: $("#recipient-passwordEdit").val(),
                Email: $("#recipient-emailEdit").val(),
                IsAdmin: isAdmin,
                Actions: "IDEM"
            };

            Swal.fire({
                title: 'Deseja atualizar esse utilizador?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, Atualize!',
                cancelButtonText: 'Não, Cancele!',

            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'post',
                        url: '/EditaUtilizador',
                        data: JSON.stringify(FormadorEditado),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);
                            Swal.fire(
                                'Atualizado!',
                                'O utilizador foi atualizado.',
                                'success',
                            )
                            ReloadDataTable();
                            //$('#gestaoDeFormadores').DataTable().ajax.reload();
                            $('#ModalEdit').modal('hide');
                            $('.modal-backdrop').hide();
                        },
                        error: function (err) {
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Erro ao editar um formador!',
                            })
                        }
                    });
                }
            });
        });
    });

    function ReloadDataTable() {
        globalTable.api().ajax.reload();
        //$('#gestaoDeFormadores').DataTable.fnReloadAjax()
    }


    setTimeout(function () {
        ReloadDataTable();
    }, 1000);

    function deleterow(id) {
        let FormadorEditado = {
            Id: id,
            Nome: "Delete",
            Username: "Delete",
            Password: "Delete",
            Email: "Delete",
            IsAdmin: false,
            Actions: "IDEM"
        };
        Swal.fire({
            title: 'Deseja excluir o utilizador?',
            text: "Você não será capaz de desfazer essa ação!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim, Exclua!',
            cancelButtonText: 'Não, Cancele!'

        }).then((result) => {
            if (result.value) {



                $.ajax({
                    url: '/DeletaFormador',
                    method: 'delete',
                    data: JSON.stringify(FormadorEditado),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        ReloadDataTable();
                        Swal.fire(
                            'Deletado!',
                            'O utilizador foi deletado.',
                            'success'
                        )

                        //table.fnDestroy();
                        //readData();
                    },
                    error: function (err) {
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong adding a film!',
                        })
                        alert(err);
                    }
                });
            }
        });
    }

    //validacao


    let formador = {
        Id: 0,
        Nome: "",
        Username: "",
        Password: "",
        Email: "",
        IsAdmin: false,
    };

    let boolChangedName = true;
    let boolChangedUsername = true;
    let boolChangedEmail = true;
    let boolChangedPassword = true;

    function ChangingName(othis) {

        if ($("#recipient-nomeEdit").val().length >= 7) {
            boolChangedName = true;
            $("#recipient-nomeEdit").removeClass("is-invalid");
            $("#recipient-nomeEdit").addClass("is-valid");
        }
        else {
            $("#recipient-nomeEdit").removeClass("is-valid");
            boolChangedName = false;
        }
        ValidaTodosOsCampos();
    }

    function ChangingUsername(othis) {
        formador.Username = othis.value;

        if (othis.value.length >= 7)
            $.ajax({
                method: "POST",
                url: "/RetornaUsernameTrueSeIgual",
                data: JSON.stringify(formador),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data == true && formador.Username != UsernameGLOBALIZADO) {
                        $("#recipient-userNameEdit").addClass("is-invalid");
                        $("#recipient-userNameEdit").removeClass("is-valid");
                        boolChangedUsername = false;
                    }
                    else {
                        $("#recipient-userNameEdit").removeClass("is-invalid");
                        $("#recipient-userNameEdit").addClass("is-valid");
                        boolChangedUsername = true;

                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        else {
            boolChangedUsername = false;
            $("#recipient-userNameEdit").removeClass("is-invalid");
            $("#recipient-userNameEdit").removeClass("is-valid");
        }
    }

    function ChangingEmail(othis) {

        formador.Email = othis.value;

        if (othis.value.length >= 8)
            $.ajax({
                method: "POST",
                url: "/RetornaEmailTrueSeIgual",
                data: JSON.stringify(formador),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //console.log(data);
                    if (!/[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$/g.test(othis.value)) {
                        boolChangedEmail = false;
                        $("#recipient-emailEdit").addClass("is-invalid");
                        $("#recipient-emailEdit").removeClass("is-valid");
                        $("#EmailInvalido").html("Email Inválido");

                    }
                    else if (data == true && othis.value != emailGLOBALIZADO) {
                        boolChangedEmail = false;
                        $("#recipient-emailEdit").removeClass("is-valid");
                        $("#recipient-emailEdit").addClass("is-invalid");
                        $("#EmailInvalido").html("Email já existente!");

                        console.log(data, othis.value, emailGLOBALIZADO);

                    }
                    else {
                        boolChangedEmail = true;
                        $("#recipient-emailEdit").removeClass("is-invalid");
                        $("#recipient-emailEdit").addClass("is-valid");
                    }
                    ValidaTodosOsCampos();
                    //console.log(data);
                },
                error: function (data) {
                    //console.log(data);
                }
            });
        else {
            boolChangedEmail = false;
            $("#recipient-emailEdit").removeClass("is-invalid");
            $("#recipient-emailEdit").removeClass("is-valid");
        }
    }

    function ChangingSenha(othis) {
        if (othis.value.length >= 8) {
            boolChangedPassword = true;
            $("#recipient-passwordEdit").addClass("is-valid");
        }
        else {
            boolChangedPassword = false;
            $("#recipient-passwordEdit").removeClass("is-valid");
        }
    }



    function ValidaTodosOsCampos() {

        if (boolChangedName == true && boolChangedUsername == true && boolChangedPassword == true && boolChangedEmail == true)
            $("#RowEdit").attr("disabled", false);
        else
            $("#RowEdit").attr("disabled", true);
    }




</script>
