﻿@model ViewForModel

@{
    ViewData["Title"] = "Horários";
}

@section ImportsHead{
<link href="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
}

<script>
    function ValidaUpload() {
        if ($("#fileInput").val() == '') {
            $("#uploadButton").attr('disabled', true);
        }
        else {
            $("#uploadButton").attr('disabled', false);
        }
    }
</script>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Seção destinada a<strong> envio de disponibilidades</strong> </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horários</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" style="text-align:center" id="Horarios" width="100%" cellspacing="0"></table>
            </div>

            <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Id: </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form asp-action="UploadaExcel" asp-controller="RetornadoresJSONFormador" method="post" enctype="multipart/form-data" id="formInsereHorario">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label asp-for="@Model.UploadFileExcel.IdNotificacao" class="col-form-label" hidden>Id</label>
                                    <input asp-for="@Model.UploadFileExcel.IdNotificacao" class="form-control" id="recipient-idNotificacao" hidden>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.UploadFileExcel.NomeTurma" class="col-form-label " hidden>Nome da turma:</label>
                                    <input asp-for="@Model.UploadFileExcel.NomeTurma" class="form-control" id="recipient-name" hidden>
                                </div>


                                <div class="form-group" style="text-align:left;">
                                    <label asp-for="UploadFileExcel.FileExcel" class="col-form-label alert alert-success"></label>
                                    <input id="fileInput" asp-for="UploadFileExcel.FileExcel" onchange="ValidaUpload();" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
                                </div>


                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" id="uploadButton" value="Upload" onclick="" />
                            </div>
                        </form>
                        @*<div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                            @*<button type="submit" class="btn btn-primary">Send message</button>
                        </div>*@
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>

<script>
    $('#uploadModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var idnot = button.data('idnotificacao'); // Extract info from data-* attributes
        var nomenot = button.data('nometurma'); // Extract info from data-* attributes
        $("#uploadModalLabel").html(`ID - ${idnot}`);
        $("#recipient-name").val(nomenot);
        $("#recipient-idNotificacao").val(idnot);

        $(".alert-success").html(`Insira o horário em Excel da turma <strong> ${nomenot}</strong>`);


        //var modal = $(this);
        //modal.find('.modal-title').text('New message to ' + recipient);
        //modal.find('.modal-body input').val(recipient);
        //modal.find('#idNotificacao').val(recipient);
    })




</script>
<!-- Bootstrap core JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
@*
<script src="~/Templates/PrincipalPage/dashadm/js/sb-admin-2.min.js"></script>*@

<!-- Page level plugins -->
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Templates/PrincipalPage/dashadm/js/demo/datatables-demo.js"></script>



<!-- Button trigger modal -->






<script>

    $(function () {
        $("#uploadButton").attr('disabled', true);
    });



    $('#Horarios').dataTable({
        processing: true,
        order: [
            [0, 'desc']
        ],
        ajax: {
            url: "/RetornaJsonHorarios",
            dataSrc: ''
        },
        //data: data,
        columns: [
            {
                "title": "Id",
                "data": "id"
            },
            {
                "title": "Nome da Turma",
                "data": "nomeTurma"
            },
            {
                "title": "Data de Criação",
                "data": "horaCriada"
            },
            {
                "title": "Regime",
                "data": "nomeRegime"
            },
            {
                "title": "Upload",
                "data": "status"
            }
        ]
    });


    $("#uploadButton").click(function (e) {
        e.preventDefault();
        var nomenot = $("#recipient-name").val(); // Extract info from data-* attributes
        Swal.fire({
            title: 'Deseja enviar?',
            text: `Sua disponibilidade será enviada para a turma "${nomenot}" `,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim, envie!',
            cancelButtonText: 'Não, cancele'
        }).then((result) => {
            if (result.value) {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Enviado',
                    showConfirmButton: false,
                    timer: 1500
                })
                $("#formInsereHorario").submit();
                //var promise = new Promise(function (resolve, reject) {
                //    window.setTimeout(function () {
                //        resolve(true);
                //    }, 3000);
                //});
                return true;
            }
            else {
                return false;
            }
        })
    });

</script>


