﻿@model ViewForModel

@{
    ViewBag.Title = "Página Principal";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
        </div>
        <div class="container">
            @*<h1 class="h3 mb-0 text-gray-800">Página Principal</h1>*@
            <!-- Illustrations -->

            @{
                var notificacaoP = Model.ListaDeNotificacao.Where(x => x.IdFormador == Model.Formador.Id);
                int HorariosEnviados = 0;
                int HorariosParaEnviar = 0;
                int HorariosNaoVisto = 0;
                int HorariosTotal = 0;
                foreach (var not in notificacaoP)
                {
                    if (not.Inserido)
                    {
                        HorariosEnviados++;
                    }
                    if (not.Inserido == false)
                    {
                        HorariosParaEnviar++;
                    }
                    if (not.Visualizacao == true)
                    {
                        HorariosNaoVisto++;
                    }
                    HorariosTotal++;
                }
            }

            <style>
                .badge-primary{
                    background-color: #6c63ff;
                }
            </style>


            @if (Model?.Formador.IsAdmin ?? false)
            {
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Página Principal</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center" style="margin-right: 10%; margin-left: 7%; font-size: 23px;">
                            <p>


                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" align="right" style="width: 27rem; margin: 0px !important;" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/Booked_j7rj.svg" alt="">

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@HorariosEnviados</span>
                                        <strong> Horário(s) foram enviados</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Há <span class="badge badge-primary badge-pill">@HorariosParaEnviar</span>
                                        <strong> Horário(s) para enviar</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@HorariosNaoVisto</span>
                                        <strong>Horário(s) não visto(s)</strong>
                                    </li>
                                    <li class="list-group-item">
                                        
                                        Há <span class="badge badge-primary badge-pill">@HorariosTotal</span>
                                        <strong>Horário(s) no Total</strong>
                                    </li>
                                </ul>

                                @*<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" align="right" style="width: 27rem; margin: 0px !important;" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/selecting_1lx3.svg" alt="">
        <div style="padding: 15px; font-size: 25px; color:green"><strong style="color:green">@HorariosEnviados </strong> Horários foram <strong style="color:green">enviados</strong></div> <br />
        <div style="padding: 15px; font-size: 25px;color:red">Há <strong style="color:red">@HorariosParaEnviar</strong> Horários <strong style="color:red">para enviar</strong> </div> <br />
        <div style="padding: 15px; font-size: 25px;color:darkslategray"><strong style="color:darkslategray"> @HorariosNaoVisto </strong>Horários<strong style="color:darkslategray"> não foram vistos</strong> </div> <br />
        <div style="padding: 15px; font-size: 25px;color:black">Há <strong style="color:black">@HorariosTotal </strong>  no <strong style="color:black">Histórico total </strong></div> <br />*@

                            </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Index</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center" style="margin-right: 10%; margin-left: 7%; font-size: 23px;">
                            <p>

                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" align="right" style="width: 27rem; margin: 0px !important;" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/selecting_1lx3.svg" alt="">

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@HorariosEnviados</span>
                                        <strong> Horário(s) foram enviados</strong>
                                    </li>
                                    <li class="list-group-item">
                                        Há <span class="badge badge-primary badge-pill">@HorariosParaEnviar</span>
                                        <strong> Horário(s) para enviar</strong>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-primary badge-pill">@HorariosNaoVisto</span>
                                        <strong>Horário(s) não visto(s)</strong>
                                    </li>
                                    <li class="list-group-item">

                                        Há <span class="badge badge-primary badge-pill">@HorariosTotal</span>
                                        <strong>Horário(s) no Total</strong>
                                    </li>
                                </ul>

                                @*<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" align="right" style="width: 27rem; margin: 0px !important;" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/master_plan_95wa.svg" alt="">
        <div style="padding: 15px; font-size: 25px; color:green"><strong style="color:green">@HorariosEnviados </strong> Horários foram <strong style="color:green">enviados</strong></div> <br />
        <div style="padding: 15px; font-size: 25px;color:red">Há <strong style="color:red">@HorariosParaEnviar</strong> Horários <strong style="color:red">para enviar</strong> </div> <br />
        <div style="padding: 15px; font-size: 25px;color:darkslategray"><strong style="color:darkslategray"> @HorariosNaoVisto </strong>Horários<strong style="color:darkslategray"> não foram vistos</strong> </div> <br />
        <div style="padding: 15px; font-size: 25px;color:black">Há <strong style="color:black">@HorariosTotal </strong>  no <strong style="color:black">Histórico total </strong></div> <br />*@




                                @*<button class="d-none d-sm-inline-block btn btn-lg btn btn-success shadow-lg"><i class="fas fa-download fa-sm text-white-50"></i>Download Excel</button>
        <button class="d-none d-sm-inline-block btn btn-lg btn btn-success shadow-lg"><i class="fas fa-download fa-sm text-white-50"></i>Upload Excel</button>*@
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

    <!-- /.container-fluid -->
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white" style="
        bottom: 0;
        width: 100%;">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>

</body>
</html>
