﻿@model ViewForModel

@{
    ViewData["Title"] = "Turmas Associada";
}

@section ImportsHead{
    <link href="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Seção destinada a<strong> consulta de envio de horários</strong> </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Histórico</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" style="text-align:center" id="TurmaAssociada" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
    </div>

</div>
<!-- Bootstrap core JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Templates/PrincipalPage/dashadm/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
@*<script src="~/Templates/PrincipalPage/dashadm/js/sb-admin-2.min.js"></script>*@

<!-- Page level plugins -->
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Templates/PrincipalPage/dashadm/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Templates/PrincipalPage/dashadm/js/demo/datatables-demo.js"></script>

<script>
    $('#TurmaAssociada').dataTable({
        processing: true,
        order: [
            [0, 'desc']
        ],
        ajax: {
            url: "/RetornaJsonHistorico",
            dataSrc: ''
        },
        //data: data,
        columns: [
            {
                "title": "Id",
                "data": "id"
            },
            {
                "title": "Nome da Turma",
                "data": "nomeTurma"
            },
            {
                "title": "Data de Criação",
                "data": "horaCriada"
            },
            {
                "title": "Regime",
                "data": "nomeRegime"
            },
            {
                "title": "Status",
                "data": "status"
            }
        ]
    });

</script>
