﻿@model ViewForModelLogin;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendarização de Horários</title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="http://www.atec.pt/templates/atc16/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/css/util.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Templates/Login/Template/css/main.css">
</head>
<body style="padding-top: 0px;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <span class="login100-form-title p-b-33">
                    <img src="~/Templates/Login/Template/imgs/ATEC_logo_original.jpg" style="height: 100px; width: 350px;" />
                </span>
                <form asp-action="TryLogin" class="login100-form validate-form" method="post">

                    <div class="alert alert-danger" role="alert" style="display:@ViewBag.display">
                        <strong> @ViewBag.MensagemErro </strong> <br />
                        <strong> @ViewBag.TentativasRestantes</strong>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Campo obrigatório">
                        <input asp-for="@Model.Login.Username" id="TxbEmail" class="input100" placeholder="Username" onkeyup="ChangingUsername(this)" />
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <br />
                    <div class="wrap-input100 rs1 validate-input" data-validate="Campo obrigatório">
                        <input asp-for="@Model.Login.Password" class="input100" type="password" placeholder="Password" style="border-left:none">
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-20">
                        <button class="login100-form-btn" id="signIn">Sign in</button>
                    </div>

                    <div class="text-center p-t-45 p-b-4">
                        <span class="txt1">
                            Forgot
                        </span>


                        <a href="#" class="txt2 hov1">
                            Username / Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Templates/Login/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Templates/Login/Template/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Templates/Login/Template/js/main.js"></script>

    <link rel="stylesheet" href="~/Templates/Login/Template/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Templates/Login/Template/css/site.css" />

    <script>

    $(function () {
        $("#signIn").attr("disabled", true);
        
           @if (Model.Someone.ContaTentativas >= 5)
            {
               @:$("#signIn").text("Wait Some Minutes");
               @:$("#signIn").attr("disabled", true);
               @:document.getElementById("TxbEmail").onkeyup = null;
            }
           else
           {
               @:$("#signIn").text("Sign In");
               @:$("#signIn").attr("disabled", false);
           }
    });

    function ChangingUsername(othis) {
        if (!/[^a-zA-Z0-9]/.test(othis.value))
            $("#signIn").attr("disabled", false);
        else
            $("#signIn").attr("disabled", true);
    }

    </script>

</body>
</html>
